# dependencies
/node_modules
package-lock.json

# system files
.DS_STORE
Thumbs.db
.project
.vscode

.idea/

# env variables
.env
sonar-project.properties

# testing
src/frontend/cypress/screenshots/
src/frontend/cypress